<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <center>
        <h1>update form</h1>
        <form action="/update" method="post">
            <p>
                <!-- <label>email</label> -->
                <input type="hidden" name="id">
            </p>
            
            <p>
                <label>email</label>
                <input type="email" name="email" placeholder="Email">
            </p>
            <p>
                <label>password</label>
                <input type="password" name="password" placeholder="password">
            </p>
            <p>
                <label>mobile</label>
                <input type="text" name="mobile" placeholder="mobile">
            </p>
            <p>
                <label>city</label>
                <input type="text" name="city" placeholder="Username">
            </p>
            <p>
                <label>collage_id</label>
                <input type="text" name="collage_id" placeholder="Username">
            </p>
            <p>
                <label>birth_date</label>
                <input type="text" name="birth_date" placeholder="Username">
            </p>
            <p>
                <input type="submit" name="submit"value="resister">
            </p>
        </form>
    </center>
</body>
</html>